    body{
        text-align: center;
        transition: background 0.5s ease-in-out;
    }
    #bulb{
        width:300px;
        height:300px;
    }
    button{
        height:40px;
        width:80px;
        background-color: aqua;
        color: rgb(5, 5, 5);
    }
    #On:hover{
        cursor: pointer;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
    #Off:hover{
        cursor: pointer;
        background-color: rgb(255, 251, 251);
        color: rgb(9, 9, 9);
    }
    .dark{
        background-color: black;
        color:aliceblue;
    }
    .light{
        background-color: antiquewhite;
        color:black;
    }